generated/aws/develop/.terraform/plugins/registry.terraform.io/hashicorp/aws/4.37.0/darwin_amd64/terraform-provider-aws_v4.37.0_x5
generated/aws/develop/.terraform/plugins/registry.terraform.io/-/aws/4.37.0/darwin_amd64/terraform-provider-aws_v4.37.0_x5
generated/aws/develop/.terraform/providers/registry.terraform.io/hashicorp/aws/4.37.0/darwin_amd64/terraform-provider-aws_v4.37.0_x5
.terraform/providers/registry.terraform.io/hashicorp/aws/4.37.0/darwin_amd64/terraform-provider-aws_v4.37.0_x5